.reposContainer{
    background-color: var(--hardPink);
    padding: 1rem;
    border-radius: 5px
}

.reposContainer .backbtn{
    padding: .5rem;
}

.reposContainer .title{
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    margin: 2rem;
}

.reposContainer .repos{
    background-color: var(--lightBlue);
    border: 3px solid var(--hardBlue);
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.reposContainer .repos h2{
    text-align: center;
    font-size: 1.5rem;
}

.reposContainer .repos svg{
    fill: #fff;
    font-size: .9rem;
}

.reposContainer .repos .numberContainer{
    display: flex;
    gap: 1rem;
    margin: .5rem;
}

.reposContainer .repos .numberContainer .stars,
.reposContainer .repos .numberContainer .forks{
    background-color: var(--lightPink);
    padding: .5rem;
    border-radius: 5px;
    display: flex;
    gap: .2rem;
    margin: .5rem;
    align-items: center;
    color: #fff;
    font-weight: bold;
}

a{
    background-color: var(--lightGreen);
    color: #fff;
    padding: .8rem;
    border-radius: 5px;
    border: none;
    width: 50%;
    opacity: .7;
    transition: .3s;
    color: #fff;
    font-weight:  bold;
    text-align: center;
}

a:hover{
    color: #fff;
    opacity: 1;
    text-decoration: none;
}

